BasedOnStyle: WebKit
ColumnLimit: 120
Standard: c++17
IndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  AfterFunction: true

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true

AllowShortFunctionsOnASingleLine: Inline
AllowAllParametersOfDeclarationOnNextLine: true
Cpp11BracedListStyle: false
AlwaysBreakTemplateDeclarations: Yes
